/2012_13_sem_notes.md~
/NA
/sem1_intro_R-concordance.tex
/sem1_intro_R.Rmw
/sem1_intro_R.log
/sem1_intro_R.synctex.gz
/sem1_intro_R.tex

n_seminarov_book/n_seminarov_tv.aux

n_seminarov_book/n_seminarov_tv.idx

n_seminarov_book/n_seminarov_tv.log

n_seminarov_book/n_seminarov_tv.out

n_seminarov_book/n_seminarov_tv.tex

n_seminarov_book/n_seminarov_tv.toc

n_seminarov_book/n_seminarov_tv.synctex.gz

2013/kr_03/kr_03i.aux

2013/kr_03/kr_03i.log

2013/kr_03/kr_03i.synctex.gz

*.aux

*.dvi

2013/exam_p2/exam_p2_13.log

2013/exam_p2/exam_p2_13.pdf.zip

2013/exam_p2/exam_p2_13.synctex.gz

2013/exam_p2/exam_p2_13.blg

2013/exam_p1/exam_p1_13.synctex.gz

2013/exam_p1/exam_p1_13.pdf.zip

2013/exam_p1/exam_p1_13.log

tvims_notes_2013/tvims_notes_2013-concordance.tex

2014/asb_sem/asb_sem.log

2014/asb_sem/asb_sem.synctex.gz

2014/asb_sem/asb_sem.pdf

2014/asb_sem/asb_sem.tex

2014/kr_01/kr_01.log

2014/kr_01/kr_01.synctex.gz

2014/kr_01/kr_01.pdf.zip

delta_method/delta_method.log

delta_method/delta_method.synctex.gz

2014/kr_01/kr_01_preview.log

2014/kr_01/kr_01_preview.synctex.gz

2014/kr_02/kr_02i.log

2014/kr_02/kr_02i.synctex.gz

2014/midterm_problems/midterm_problems.log

2014/midterm_problems/midterm_problems.synctex.gz
