.idea/
*-tikzDictionary
*.aux
*.run.xml
*.fdb_latexmk
*.amc
*.idx
*.dvi
*.log
.DS_Store
*.out
*.xdv
*.toc
*-concordance.tex
*.bbl
*.blg
*.synctex.gz
.Rhistory
*.fls

/2012_13_sem_notes.md~
/NA
/sem1_intro_R.Rmw
/sem1_intro_R.tex

n_seminarov_book/n_seminarov_tv.tex

2013/exam_p2/exam_p2_13.pdf.zip

2013/exam_p1/exam_p1_13.pdf.zip
2014/asb_sem/asb_sem.pdf

2014/asb_sem/asb_sem.tex

2014/kr_01/kr_01.pdf.zip

2014/midterm_retake/Экзаменационный тест по теории вероятностей_D.docx
ege_prob/probability_kepl.zip

2015/retake_of_2014/retake_of_2014_2015_otvety.pdf
2015/retake_of_2014/retake_of_2014_2015_uslovie.pdf

2015/retake_of_2014/retake.zip
2015/kr_02i/kr_02_int.tex

2015/kr_02/kr_02_base.tex

2015/kr_02/kr_02_base.pdf

prob_exams_collection/figure

2015/midterm/midterm_v2_blank.zip
2015/midterm/midterm_v2.zip

2015/kr3/kr3_brutal.tex

tvims_notes_2013/title_bor_utf8_knitr.tex

2015/kr4/pr201_kr4_june_16.tex

2015/kr4/pr201_kr4_june_16_v2.tex

2015/kr4/kr_4_june_16.zip

2015/final_exam/pr201_final_2015_2016.zip

cheat_sheet/cheat_sheet_pr.md

cheat_sheet/cheat_sheet_pr.tex

prob_exams_collection/tikz_probability

2016/reretake_of_2015/automultiplechoice.pdf


prob_exams_collection/R_plots/empirical_cdf.tikz
prob_exams_collection/R_plots/logis_pdf.tikz

2016/stud_notes/.ipynb_checkpoints

tvims_notes_2013/all_solutions.tex

2016/ht_01i/home_works/all_ht.zip

2016/final_alpha.zip

2016/final_exam/final_ans.zip

2017/median/median.tex
