/2011_tv_sem.aux
/2011_tv_sem.log
/2011_tv_sem.out
/2011_tv_sem.pre
/2011_tv_sem.pyg
/2011_tv_sem.sage
/2011_tv_sem.synctex.gz
/2011_tv_sem.tex.bak
/2011_tv_sem_pe16.aux
/2011_tv_sem_pe16.log
/2011_tv_sem_pe16.out
/2011_tv_sem_pe16.pyg
/2011_tv_sem_pe16.synctex.gz
/2011_tv_sem_pe16.pdf
/2011_tv_sem_pe16.tex
