/*.synctex.gz
/ege_prob_kepl.toc
/ege_prob_kepl_handout.aux
/ege_prob_kepl_handout.log
/ege_prob_kepl_handout.out
/ege_prob_kepl.out
/ege_prob_kepl.snm
/ege_prob_kepl.aux
/ege_prob_kepl.log
/ege_prob_kepl.nav
