/*.log
/gaussian.tex.bak
/gaussian_main.aux
/gaussian_main.bbl
/gaussian_main.blg
/gaussian_main.idx
/gaussian_main.out
/gaussian_main.pre
/gaussian_main.pyg
/gaussian_main.sage
/gaussian_main.synctex.gz
