/2011_prob_exam_collection-autopp.out
/2011_prob_exam_collection-autopp.pre
/2011_prob_exam_collection-autopp.toc
/2011_prob_exam_collection-pics.pdf
/2011_prob_exam_collection.out
/2011_prob_exam_collection.pre
/2011_prob_exam_collection.synctex.gz
/2011_prob_exam_collection.toc
/2011_prob_exam_collection_qr_codes-pics.pdf
/2011_prob_exam_collection_qr_codes.aux
/2011_prob_exam_collection_qr_codes.log
/2011_prob_exam_collection_qr_codes.pdf
/*.aux
/2011_prob_exam_collection.log
/2011_prob_exam_collection.lyx
/2011_prob_exam_collection_cp1251.lyx
/2011_prob_exam_collection_cp1251.tex
/title_bor_utf8.log
/NA
/2011_prob_exam_collection.tex
/framed.sty
